extends layout

block content
  h1 Ejemplo de Lista UL/LI
  <ul>
  <LI>Primer elemento
  <LI>Segundo elemento
  <LI>Tercer elemento
  <LI>Cuarto elemento
  <LI>Quinto elemento
  <LI>Sexto elemento
  </ul>
  
  
  a(href="/") Menu Principal
   
